@import "__variables.css";

:root {
    --gap: 2%;
    --projects-per-row: 3;
    --s: 1em; /* Corner size */
}

.projects-title {
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    margin: 1em 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid var(--border-color);
}

.projects-container {
    display: flex;
    flex-wrap: wrap; /* Allows multiple lines if not enough space to fit it all into 1 */
    gap: var(--gap);
    padding: 0.5em;
    justify-content: center;
}

.project {  
    box-sizing: border-box;
    flex: 1 1 calc(100% / var(--projects-per-row) - var(--gap)); /* Calculates initial size */
    max-width: calc(100% / var(--projects-per-row) - var(--gap)); /* Prevents stretching to fill the available space */
    margin-bottom: var(--gap);
    border: 5px solid var(--border-color);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project-image {
    width: 100%;
    height: auto;
    border: 1px solid red;
}

.project-details {
    padding: 0.5em;
    text-align: center;
    border: 1px solid green;
}

.project-details-button {
    display: inline-block;
    padding: 1em;
    margin: 1em auto;
    border: 5px solid var(--border-color);
    mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0 / calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    text-decoration: none;
    background: var(--background-color);
    color: var(--text-color);
}

.project-details-button:hover,
.project-details-button:focus {
    background: var(--background-hover-color);
    color: var(--text-hover-color);  
    mask: none;
    outline: none;
}

@media (max-width: 1000px) {
    .project {
        flex-basis: calc(50% - var(--gap));
        max-width: calc(50% - var(--gap));
    }
}

@media (max-width: 500px) {
    .project {
        flex-basis: calc(100% - var(--gap));
        max-width: calc(100% - var(--gap));
    }
}